<nav class="navbar navbar-expand-lg sticky-top navbar-dark bg-dark ">
    <a class="navbar-brand" href="{% url 'home' %}">E-Warriors</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">


      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          {% if user.is_customer %}
            <a class="nav-link" href="{% url 'customer' user %}">Home</a>
          {% elif user.is_dealer %}
            <a class="nav-link" href="{% url 'dealer' user %}">Home</a>
          {% endif %}
        </li>
        <li class="nav-item">
          {% if user.is_superuser %}
            <a class="nav-link" href="{% url 'admin_cart' %}">Buy Waste</a>
          {% endif %}
        </li>
        <li class="nav-item">
          {% if user.is_customer %}
            <a class="nav-link" href="{% url 'buy' %}">Buy</a>
          {% elif user.is_dealer %}
            <a class="nav-link" href="{% url 'add_waste' %}">Add</a>
          {% endif %}
        </li>
        <li class="nav-item">
          {% if user.is_dealer %}
          <a class="nav-link" href="{% url 'view_waste' %}">Your Items</a>
          {% endif %}
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'events' %}">Events</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'waste_rate' %}">Waste Rates</a>
        </li>
      </ul>

      <ul class="navbar-nav mr-right">
      {% if user.is_authenticated %}
        <li class="nav-item dropdown">
          <a class="nav-link text-light dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            {{user}}
          </a>
          <div class="dropdown-menu dropdown-menu-right bg-dark" aria-labelledby="navbarDropdown">
            {% if user.is_customer %}
            <a class="dropdown-item bg-dark text-light" href="{% url 'customer_details' %}">Edit Profile</a>
            {% else %}
            <a class="dropdown-item bg-dark text-light" href="{% url 'dealer_details' %}">Edit Profile</a>
            {% endif %}
            <div class="dropdown-divider"></div>
            <a class="dropdown-item bg-dark text-light" href="{% url 'logout' %}">Logout</a>

          </div>
        </li>
      {% else %}
        <li class="nav-item dropdown">
          <a class="nav-link-active dropdown-toggle btn btn-success mr-sm-2" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Login
          </a>
          <div class="dropdown-menu bg-dark" aria-labelledby="navbarDropdown">
            <a class="dropdown-item bg-dark text-light" href="{% url 'customer_login' %}">Customer Login</a>
            <a class="dropdown-item bg-dark text-light" href="{% url 'dealer_login' %}">Dealer Login</a>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link-active dropdown-toggle btn btn-outline-success text-light" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Signin
          </a>
          <div class="dropdown-menu dropdown-menu-right bg-dark" aria-labelledby="navbarDropdown">
            <a class="dropdown-item text-light bg-dark" href="{% url 'customer_signin' %}">Customer Signin</a>
            <a class="dropdown-item text-light bg-dark" href="{% url 'dealer_signin' %}">Dealer Signin</a>
          </div>
        </li>
        {% endif %}
      </ul>

    </div>
</nav>