{% extends 'base.html' %}

{% load static %}

{% block title %}
{% if login %}
Dealer - Login
{% elif signin%}
Dealer - Register
{% elif add_item %}
Add Item
{% else %}
Personal Details
{% endif %}
{% endblock %}

{% block css %}
<style>
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }
</style>
{% endblock %}

{% block body %}
<form method="POST">{% csrf_token %}
    <div class="row">
        <div class="col-sm-4"></div>
        <div class="col-sm-4">
            {% if login %}
            <div class="card" style="margin-top: 75px;">
                <div class="card-body centered">
                    <h1 class="h3 mb-3 fw-normal text-center">Dealer Login</h1>
                    {{form.as_p}}
                    <center><button class="form-control btn btn-lg btn-success text-center" type="submit">Login</button><br><br></center>
                    <hr>
                    <p class="text-center">Don't have an account? <strong><a href="{% url 'dealer_signin' %}" class="link-success">Sign In</a></strong></p>
                </div>
            </div>
            {% elif signin %}
            <div class="card" style="margin-top: 10px;">
                <div class="card-body">
                    <h1 class="h3 mb-3 fw-normal text-center">Dealer Sign In</h1>
                    {{form.as_p}}
                    <center><button class="form-control btn btn-lg btn-success text-center" type="submit">Sign In</button><br><br></center>
                    <hr>
                    <p class="text-center">Already have an account? <strong><a href="{% url 'dealer_login' %}" class="link-success">Login</a></strong></p>
                </div>
            </div>
            {% elif add_item %}
            <div class="card" style="margin-top: 10px;">
                <div class="card-body">
                    <h1 class="h3 mb-3 fw-normal text-center">Add Item</h1>
                    <form method="POST" action="{% url 'dealer_details' %}">{% csrf_token %}
                        <div class="form-group">
                          <label for="title">Title</label>
                          <input name = "title" type="text" class="form-control" id="customerdetails" aria-describedby="emailHelp" placeholder="Title" required>
                        </div>
                        <div class="form-group">
                          <label for="description">Description</label>
                          <textarea name = "description" class="form-control" id="customerdetails" placeholder="Description" required></textarea>
                        </div>
                        <div class="form-group">
                            <label for="price">Price</label>
                            <input name = "price" type="number" class="form-control" id="customerdetails" placeholder="Price" min = "0" required>
                        </div>
                        <div class="form-group">
                            <label for="Pickup Address">Item's Pickup Address</label>
                            <textarea name = "pickup_address" class="form-control" id="customerdetails" placeholder="Pickup Address" required></textarea>
                          </div>
                        <center><button class="btn btn-block btn-lg btn-success" type="submit">Submit</button><br><br></center>
                      </form>
                </div>
            </div>
            {% else %}
            <div class="card" style="margin-top: 10px;">
                <div class="card-body">
                    <h1 class="h3 mb-3 fw-normal text-center">Dealer Personal Details</h1>
                    <form method="POST" action="{% url 'dealer_details' %}">{% csrf_token %}
                        <div class="form-group">
                          <label for="first_name">First Name</label>
                          <input name = "first_name" type="text" class="form-control" id="customerdetails" aria-describedby="emailHelp" placeholder="First Name" required>
                        </div>
                        <div class="form-group">
                          <label for="middle_name">Middle Name</label>
                          <input name = "middle_name" type="text" class="form-control" id="customerdetails" placeholder="Middle Name" required>
                        </div>
                        <div class="form-group">
                            <label for="last_name">Last Name</label>
                            <input name = "last_name" type="text" class="form-control" id="customerdetails" placeholder="Last Name" required>
                        </div>
                        <div class="form-group">
                            <label for="phone_number">Phone Number</label>
                            <input name = "phone_number" type="number" class="form-control" id="customerdetails" placeholder="Phone Number" required>
                        </div>
                        <div class="form-group">
                            <label for="stripe_pub_api">Stripe Publishable API</label>
                            <input name = "stripe_pub_api" type="text" class="form-control" id="customerdetails" placeholder="Stripe Publishable API" required>
                        </div>
                        <div class="form-group">
                            <label for="stripe_secret_api">Stripe Secret API</label>
                            <input name = "stripe_secret_api" type="text" class="form-control" id="customerdetails" placeholder="Stripe Secret API" required>
                        </div>
                        <center><button class="btn btn-block btn-lg btn-success" type="submit">Submit</button><br><br></center>
                      </form>
                </div>
            </div>
            {% endif %}
        </div>
    </div>
</form>
{% endblock %}