{% extends 'base.html' %}

{% block title %}
E-Warriors
{% endblock %}

{% block body %}
<div class="container">
    <br><br>
    <h1 style="font-size: 50px; font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ; font-weight: bolder; color: darkblue;">
        We are the warriors fighting to eliminate e-waste throughout the world.
    </h1>
    <h1 style="font-size: 75px; font-family: 'Times New Roman', Times, serif; font-weight: bolder; color: darkred;" class="text-center">An Innovation to lead the world <br> to a better future.</h1><br>
    <h1 style="font-style: italic;">Help us by making a step closer towards the brighter future.</h1><br><br>
    <h3 class="text-center" style="font-family: Verdana, Geneva, Tahoma, sans-serif">Get Started.</h3>
</div>
{% endblock %}